In [1]:
import numpy as np
import pandas as pd

import time
from datetime import datetime

from IPython.core.display import HTML
import tba3102



display(HTML("<style>pre { white-space: pre !important; }</style>"))
tba3102.set_default_pandas_options()

np.random.seed(int(round(time.time())))
random_state = 292652050 # np.random.randint(2**31-1)
print('random_state: {}'.format(random_state))

random_state: 292652050

In [2]:
print('Text processing started at {}'.format(datetime.now()))

Text processing started at 2023-04-04 16:05:21.438941

In [3]:
df = pd.read_csv('../data/training_1600000.csv', encoding='ISO-8859-1')
df = df.groupby('polarity').sample(frac=0.010, replace=False, random_state=random_state)
df.reset_index(inplace=True, drop=True)
df_without_emoticon = df_with_emoticon = df_with_emoticon_nospelling_nolemma = df
df

       polarity          id                          date     query             user                                              tweet
0             0  2050874460  Fri Jun 05 19:26:58 PDT 2009  NO_QUERY    texanscowgirl     My mouth hurts bad!       .... can barely talk
1             0  2327247591  Thu Jun 25 08:06:20 PDT 2009  NO_QUERY            CJ252  I am on the air and sooooooooo Hungry!!!! I do...
2             0  2222274785  Thu Jun 18 06:45:07 PDT 2009  NO_QUERY        Waaahsabi  @alwh Yes indeed, and there seems to be lots o...
3             0  2065714088  Sun Jun 07 09:08:50 PDT 2009  NO_QUERY      clarissabby  Derrick does back to work today  and I'm just ...
4             0  2243974296  Fri Jun 19 14:08:22 PDT 2009  NO_QUERY     mzprettieyez                                  got a tummy ache
...         ...         ...                           ...       ...              ...                                                ...
15995         4  1793614426  Thu May 14 03:21:59 PDT 2009  NO_QUERY            bar0s                         @cheth thanks man, really
15996         4  1695655245  Mon May 04 06:39:00 PDT 2009  NO_QUERY     madymichelle                                  ohay clean teeth
15997         4  1988803730  Sun May 31 23:25:17 PDT 2009  NO_QUERY       arnoldbala  @msnarain Are you sure they are not coming fro...
15998         4  2014402153  Wed Jun 03 01:24:42 PDT 2009  NO_QUERY       BBoy_Ghost  @XoXoAmy forever21.com &lt;== so cool.. like i...
15999         4  1994721279  Mon Jun 01 12:21:16 PDT 2009  NO_QUERY  LetsGetThisGirl                       @melody1976 plz help thanks

[16000 rows x 6 columns]

In [4]:
df['polarity'].value_counts()

0    8000
4    8000
Name: polarity, dtype: int64

In [5]:
tba3102.data_quality_report(df)

                polarity                 id                          date     query     user                      tweet
count            16000.0            16000.0                         16000     16000    16000                      16000
unique               NaN                NaN                         15817         1    15273                      15988
top                  NaN                NaN  Fri Jun 05 10:18:36 PDT 2009  NO_QUERY  webwoke  isPlayer Has Died! Sorry
freq                 NaN                NaN                             3     16000        6                          4
mean                 2.0  1998967725.944375                           NaN       NaN      NaN                        NaN
std             2.000063   193057585.454486                           NaN       NaN      NaN                        NaN
min                  0.0       1467824550.0                           NaN       NaN      NaN                        NaN
25%                  0.0      1957098173.25                           NaN       NaN      NaN                        NaN
50%                  2.0       2001762447.5                           NaN       NaN      NaN                        NaN
75%                  4.0      2176555225.25                           NaN       NaN      NaN                        NaN
max                  4.0       2329178550.0                           NaN       NaN      NaN                        NaN
Data Type          int64              int64                        object    object   object                     object
Missing Values         0                  0                             0         0        0                          0
Present Values     16000              16000                         16000     16000    16000                      16000

In [6]:
stopword_exclusion_list = ['no', 'not']
tba3102.exclude_stopwords(stopword_exclusion_list)

df_without_emoticon = tba3102.normalize_corpus(df_without_emoticon, 'tweet', 'cleaned_tweet')
df_without_emoticon = df_without_emoticon.replace(r'^(\s?)+$', np.nan, regex=True)
df_without_emoticon = df_without_emoticon.dropna(subset=['cleaned_tweet']).reset_index(drop=True)

df_without_emoticon.to_csv('../data/training_16000_cleaned_without_emoticon.csv', index=False)

In [7]:
df_with_emoticon = tba3102.normalize_corpus(df_with_emoticon, 'tweet', 'cleaned_tweet', 
                                            special_char_removal=False, remove_digits=False)
df_with_emoticon = df_with_emoticon.replace(r'^(\s?)+$', np.nan, regex=True)
df_with_emoticon = df_with_emoticon.dropna(subset=['cleaned_tweet']).reset_index(drop=True)

df_with_emoticon.to_csv('../data/training_16000_cleaned_with_emoticon.csv', index=False)

In [8]:
df_with_emoticon_nospelling_nolemma = tba3102.normalize_corpus(df_with_emoticon_nospelling_nolemma, 'tweet', 'cleaned_tweet', 
                                                               special_char_removal=False, remove_digits=False, 
                                                               spelling_correction=False, lemmatize=False)
df_with_emoticon_nospelling_nolemma = df_with_emoticon_nospelling_nolemma.replace(r'^(\s?)+$', np.nan, regex=True)
df_with_emoticon_nospelling_nolemma = df_with_emoticon_nospelling_nolemma.dropna(subset=['cleaned_tweet']).reset_index(drop=True)

df_with_emoticon_nospelling_nolemma.to_csv('../data/training_16000_cleaned_with_emoticon_nospelling_nolemma.csv', index=False)

In [9]:
print('Text processing ended at {}'.format(datetime.now()))

Text processing ended at 2023-04-04 18:23:05.539526